<footer class="footer">
  <div class="container content has-text-centered is-max-desktop">
    <div class="columns has-text-left">
      <div class="column">
        <h4>2buldzha2t</h4>
        <a>Правила</a><br><a>Дискорд</a><br><a>Вики</a><br>
      </div>
      <div class="column">
        <h4>Документы</h4>
        <a href="/policy">Политика конфидециальности</a>
      </div>
      <div class="column">
        <h4>Контакты</h4>
        <a href="https://t.me/g00d_adm1n">Телеграм</a><br><a href="mailto:admin@2bu2t.ru">Почта</a>
      </div>
      <div class="column">
        <h4>Страницы</h4>
        <a href="/thanks">Особые благодарности</a><br><a href="/2fa">Подключение 2FA</a>
      </div>
    </div>
    <p>
      Site by <a href="https://cofob.ru">cofob</a>. Исходные коды сайта лицензированы под <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY NC ND 4.0</a>. Контент на сайте лицензирован под <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
